<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kota203.museumgeologi_v0">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <!--<meta-data android:name="com.inthecheesefactory.lab.glidepicasso.GlideConfiguration"-->
                <!--android:value="GlideModule"></meta-data>-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Interface.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Manifest Koordinator-->
        <activity android:name=".Interface.Input.PilihInput"></activity>
        <activity android:name=".Interface.Input.InputKoleksi"></activity>
        <activity android:name=".Interface.Input.InputSoal"></activity>
        <activity android:name=".Interface.IntroActivity"></activity>
        <activity android:name=".Interface.PanduanActivity"></activity>
        <activity android:name=".Interface.InfoRuangActivity"
            android:parentActivityName=".Interface.IntroActivity"></activity>
        <activity android:name=".Interface.PilihAktorActivity"></activity>
        <activity android:name=".Interface.Koordinator.VerifikasiKoordinatorActivity"></activity>
        <activity android:name=".Interface.Koordinator.ListKelompokdanMulaiKuisActivity"
            android:parentActivityName=".Interface.Koordinator.ManajemenKuisActivity"></activity>
        <activity android:name=".Interface.Koordinator.ListNamaSetiapKelompokKuisActivity"
            android:parentActivityName=".Interface.Koordinator.ListKelompokdanMulaiKuisActivity"></activity>

        <!--Manifest Peserta-->
        <activity android:name=".Interface.Peserta.VerifikasiGabungKuisActivity"></activity>
        <activity android:name=".Interface.Koordinator.ManajemenKuisActivity"></activity>
        <activity android:name=".Interface.Peserta.InfoKelompokActivity"
            android:parentActivityName=".Interface.Peserta.VerifikasiGabungKuisActivity"></activity>
        <activity android:name=".Interface.Peserta.PetunjukActivity"
            android:parentActivityName=".Interface.Peserta.InfoKelompokActivity"></activity>
        <activity android:name=".Interface.Peserta.InformasiKoleksiActivity"
            android:parentActivityName=".Interface.Peserta.PetunjukActivity"></activity>
        <activity android:name=".Interface.Peserta.KuisActivity"
            android:parentActivityName=".Interface.Peserta.InformasiKoleksiActivity"></activity>
        <activity android:name=".Interface.Peserta.InfoJawabanActivity"
            android:parentActivityName=".Interface.Peserta.KuisActivity"></activity>
        <activity android:name=".Interface.Peserta.KuisSelesaiActivity"></activity>
        </application>

</manifest>